## Question 9: Distance Matrix Calculation

In [1]:
import pandas as pd
df = pd.read_csv('dataset-2.csv')
df

    id_start   id_end  distance
0    1001400  1001402       9.7
1    1001402  1001404      20.2
2    1001404  1001406      16.0
3    1001406  1001408      21.7
4    1001408  1001410      11.1
5    1001410  1001412      15.6
6    1001412  1001414      18.2
7    1001414  1001416      13.2
8    1001416  1001418      13.6
9    1001418  1001420      12.9
10   1001420  1001422       9.6
11   1001422  1001424      11.4
12   1001424  1001426      18.6
13   1001426  1001428      15.8
14   1001428  1001430       8.6
15   1001430  1001432       9.0
16   1001432  1001434       7.9
17   1001434  1001436       4.0
18   1001436  1001438       9.0
19   1001436  1001437       5.0
20   1001438  1001437       4.0
21   1001438  1001440      10.0
22   1001440  1001442       3.9
23   1001442  1001488       4.5
24   1001488  1004356       4.0
25   1004356  1004354       2.0
26   1004354  1004355       2.0
27   1004355  1001444       0.7
28   1001444  1001446       6.6
29   1001446  1001448       9.6
30   1001448  1001450      15.7
31   1001450  1001452       9.9
32   1001452  1001454      11.3
33   1001454  1001456      13.6
34   1001456  1001458       8.9
35   1001458  1001460       5.1
36   1001460  1001461      12.8
37   1001460  1001462      17.9
38   1001461  1001462       5.1
39   1001462  1001464      26.7
40   1001464  1001466       8.5
41   1001466  1001468      10.7
42   1001468  1001470      10.6
43   1001470  1001472      16.0

In [33]:
import pandas as pd
import numpy as np

def calculate_distance_matrix(csv_file):

    required_columns = {'id_start', 'id_end', 'distance'}
    if not required_columns.issubset(df.columns):
        raise ValueError("CSV must contain 'id_start', 'id_end', and 'distance' columns")

    # Create a set of unique locations
    locations = set(df['id_start']).union(set(df['id_end']))
    locations = list(locations)
    
    # Initialize a distance matrix with NaN
    distance_matrix = pd.DataFrame(index=locations, columns=locations)
    distance_matrix = distance_matrix.fillna(np.inf) 
    # Populate the distance matrix with the known distances
    for index, row in df.iterrows():
        loc_a = row['id_start']
        loc_b = row['id_end']
        distance = row['distance']
        
        # Set the distance in both directions
        distance_matrix.loc[loc_a, loc_b] = distance
        distance_matrix.loc[loc_b, loc_a] = distance

    # Set diagonal values to 0
    np.fill_diagonal(distance_matrix.values, 0)
    
    # Calculate cumulative distances
    for k in locations:
        for i in locations:
            for j in locations:
                # Update distance if a shorter path is found
                if distance_matrix.loc[i, k] + distance_matrix.loc[k, j] < distance_matrix.loc[i, j]:
                    distance_matrix.loc[i, j] = distance_matrix.loc[i, k] + distance_matrix.loc[k, j]

    distance_matrix.replace(np.inf, np.nan, inplace=True)
    print("Distance Matrix:")
    print(distance_matrix)

    return distance_matrix

if __name__ == "__main__":
    distance_df = calculate_distance_matrix('dataset-2.csv')
    print("Returned Distance DataFrame:")
    print(distance_df)

Distance Matrix:
         1001472  1001488  1004354  1004355  1004356  1001400  1001402  \
1001472     32.0    179.8    173.8    171.8    175.8    444.3    434.6
1001488    179.8      8.0      6.0      8.0      4.0    264.5    254.8
1004354    173.8      6.0      4.0      2.0      2.0    270.5    260.8
1004355    171.8      8.0      2.0      1.4      4.0    272.5    262.8
1004356    175.8      4.0      2.0      4.0      4.0    268.5    258.8
1001400    444.3    264.5    270.5    272.5    268.5     19.4      9.7
1001402    434.6    254.8    260.8    262.8    258.8      9.7     19.4
1001404    414.4    234.6    240.6    242.6    238.6     29.9     20.2
1001406    398.4    218.6    224.6    226.6    222.6     45.9     36.2
1001408    376.7    196.9    202.9    204.9    200.9     67.6     57.9
1001410    365.6    185.8    191.8    193.8    189.8     78.7     69.0
1001412    350.0    170.2    176.2    178.2    174.2     94.3     84.6
1001414    331.8    152.0    158.0    160.0    156.0    112.5    102.8
1001416    318.6    138.8    144.8    146.8    142.8    125.7    116.0
1001418    305.0    125.2    131.2    133.2    129.2    139.3    129.6
1001420    292.1    112.3    118.3    120.3    116.3    152.2    142.5
1001422    282.5    102.7    108.7    110.7    106.7    161.8    152.1
1001424    271.1     91.3     97.3     99.3     95.3    173.2    163.5
1001426    252.5     72.7     78.7     80.7     76.7    191.8    182.1
1001428    236.7     56.9     62.9     64.9     60.9    207.6    197.9
1001430    228.1     48.3     54.3     56.3     52.3    216.2    206.5
1001432    219.1     39.3     45.3     47.3     43.3    225.2    215.5
1001434    211.2     31.4     37.4     39.4     35.4    233.1    223.4
1001436    207.2     27.4     33.4     35.4     31.4    237.1    227.4
1001437    202.2     22.4     28.4     30.4     26.4    242.1    232.4
1001438    198.2     18.4     24.4     26.4     22.4    246.1    236.4
1001440    188.2      8.4     14.4     16.4     12.4    256.1    246.4
1001442    184.3      4.5     10.5     12.5      8.5    260.0    250.3
1001444    171.1      8.7      2.7      0.7      4.7    273.2    263.5
1001446    164.5     15.3      9.3      7.3     11.3    279.8    270.1
1001448    154.9     24.9     18.9     16.9     20.9    289.4    279.7
1001450    139.2     40.6     34.6     32.6     36.6    305.1    295.4
1001452    129.3     50.5     44.5     42.5     46.5    315.0    305.3
1001454    118.0     61.8     55.8     53.8     57.8    326.3    316.6
1001456    104.4     75.4     69.4     67.4     71.4    339.9    330.2
1001458     95.5     84.3     78.3     76.3     80.3    348.8    339.1
1001460     90.4     89.4     83.4     81.4     85.4    353.9    344.2
1001461     77.6    102.2     96.2     94.2     98.2    366.7    357.0
1001462     72.5    107.3    101.3     99.3    103.3    371.8    362.1
1001464     45.8    134.0    128.0    126.0    130.0    398.5    388.8
1001466     37.3    142.5    136.5    134.5    138.5    407.0    397.3
1001468     26.6    153.2    147.2    145.2    149.2    417.7    408.0
1001470     16.0    163.8    157.8    155.8    159.8    428.3    418.6

         1001404  1001406  1001408  ...  1001454  1001456  1001458  1001460  \
1001472    414.4    398.4    376.7  ...    118.0    104.4     95.5     90.4
1001488    234.6    218.6    196.9  ...     61.8     75.4     84.3     89.4
1004354    240.6    224.6    202.9  ...     55.8     69.4     78.3     83.4
1004355    242.6    226.6    204.9  ...     53.8     67.4     76.3     81.4
1004356    238.6    222.6    200.9  ...     57.8     71.4     80.3     85.4
1001400     29.9     45.9     67.6  ...    326.3    339.9    348.8    353.9
1001402     20.2     36.2     57.9  ...    316.6    330.2    339.1    344.2
1001404     32.0     16.0     37.7  ...    296.4    310.0    318.9    324.0
1001406     16.0     32.0     21.7  ...    280.4    294.0    302.9    308.0
1001408     37.7     21.7     22.2  ...    258.7    272.3    281.2    286.3
1001410     48.8     32.8     11.1  ...    247.6    261.2    270.1    275.2
1001412     64.4     48.4     26.7  ...    232.0    245.6    254.5    259.6
1001414     82.6     66.6     44.9  ...    213.8    227.4    236.3    241.4
1001416     95.8     79.8     58.1  ...    200.6    214.2    223.1    228.2
1001418    109.4     93.4     71.7  ...    187.0    200.6    209.5    214.6
1001420    122.3    106.3     84.6  ...    174.1    187.7    196.6    201.7
1001422    131.9    115.9     94.2  ...    164.5    178.1    187.0    192.1
1001424    143.3    127.3    105.6  ...    153.1    166.7    175.6    180.7
1001426    161.9    145.9    124.2  ...    134.5    148.1    157.0    162.1
1001428    177.7    161.7    140.0  ...    118.7    132.3    141.2    146.3
1001430    186.3    170.3    148.6  ...    110.1    123.7    132.6    137.7
1001432    195.3    179.3    157.6  ...    101.1    114.7    123.6    128.7
1001434    203.2    187.2    165.5  ...     93.2    106.8    115.7    120.8
1001436    207.2    191.2    169.5  ...     89.2    102.8    111.7    116.8
1001437    212.2    196.2    174.5  ...     84.2     97.8    106.7    111.8
1001438    216.2    200.2    178.5  ...     80.2     93.8    102.7    107.8
1001440    226.2    210.2    188.5  ...     70.2     83.8     92.7     97.8
1001442    230.1    214.1    192.4  ...     66.3     79.9     88.8     93.9
1001444    243.3    227.3    205.6  ...     53.1     66.7     75.6     80.7
1001446    249.9    233.9    212.2  ...     46.5     60.1     69.0     74.1
1001448    259.5    243.5    221.8  ...     36.9     50.5     59.4     64.5
1001450    275.2    259.2    237.5  ...     21.2     34.8     43.7     48.8
1001452    285.1    269.1    247.4  ...     11.3     24.9     33.8     38.9
1001454    296.4    280.4    258.7  ...     22.6     13.6     22.5     27.6
1001456    310.0    294.0    272.3  ...     13.6     17.8      8.9     14.0
1001458    318.9    302.9    281.2  ...     22.5      8.9     10.2      5.1
1001460    324.0    308.0    286.3  ...     27.6     14.0      5.1     10.2
1001461    336.8    320.8    299.1  ...     40.4     26.8     17.9     12.8
1001462    341.9    325.9    304.2  ...     45.5     31.9     23.0     17.9
1001464    368.6    352.6    330.9  ...     72.2     58.6     49.7     44.6
1001466    377.1    361.1    339.4  ...     80.7     67.1     58.2     53.1
1001468    387.8    371.8    350.1  ...     91.4     77.8     68.9     63.8
1001470    398.4    382.4    360.7  ...    102.0     88.4     79.5     74.4

         1001461  1001462  1001464  1001466  1001468  1001470
1001472     77.6     72.5     45.8     37.3     26.6     16.0
1001488    102.2    107.3    134.0    142.5    153.2    163.8
1004354     96.2    101.3    128.0    136.5    147.2    157.8
1004355     94.2     99.3    126.0    134.5    145.2    155.8
1004356     98.2    103.3    130.0    138.5    149.2    159.8
1001400    366.7    371.8    398.5    407.0    417.7    428.3
1001402    357.0    362.1    388.8    397.3    408.0    418.6
1001404    336.8    341.9    368.6    377.1    387.8    398.4
1001406    320.8    325.9    352.6    361.1    371.8    382.4
1001408    299.1    304.2    330.9    339.4    350.1    360.7
1001410    288.0    293.1    319.8    328.3    339.0    349.6
1001412    272.4    277.5    304.2    312.7    323.4    334.0
1001414    254.2    259.3    286.0    294.5    305.2    315.8
1001416    241.0    246.1    272.8    281.3    292.0    302.6
1001418    227.4    232.5    259.2    267.7    278.4    289.0
1001420    214.5    219.6    246.3    254.8    265.5    276.1
1001422    204.9    210.0    236.7    245.2    255.9    266.5
1001424    193.5    198.6    225.3    233.8    244.5    255.1
1001426    174.9    180.0    206.7    215.2    225.9    236.5
1001428    159.1    164.2    190.9    199.4    210.1    220.7
1001430    150.5    155.6    182.3    190.8    201.5    212.1
1001432    141.5    146.6    173.3    181.8    192.5    203.1
1001434    133.6    138.7    165.4    173.9    184.6    195.2
1001436    129.6    134.7    161.4    169.9    180.6    191.2
1001437    124.6    129.7    156.4    164.9    175.6    186.2
1001438    120.6    125.7    152.4    160.9    171.6    182.2
1001440    110.6    115.7    142.4    150.9    161.6    172.2
1001442    106.7    111.8    138.5    147.0    157.7    168.3
1001444     93.5     98.6    125.3    133.8    144.5    155.1
1001446     86.9     92.0    118.7    127.2    137.9    148.5
1001448     77.3     82.4    109.1    117.6    128.3    138.9
1001450     61.6     66.7     93.4    101.9    112.6    123.2
1001452     51.7     56.8     83.5     92.0    102.7    113.3
1001454     40.4     45.5     72.2     80.7     91.4    102.0
1001456     26.8     31.9     58.6     67.1     77.8     88.4
1001458     17.9     23.0     49.7     58.2     68.9     79.5
1001460     12.8     17.9     44.6     53.1     63.8     74.4
1001461     10.2      5.1     31.8     40.3     51.0     61.6
1001462      5.1     10.2     26.7     35.2     45.9     56.5
1001464     31.8     26.7     17.0      8.5     19.2     29.8
1001466     40.3     35.2      8.5     17.0     10.7     21.3
1001468     51.0     45.9     19.2     10.7     21.2     10.6
1001470     61.6     56.5     29.8     21.3     10.6     21.2

[43 rows x 43 columns]
Returned Distance DataFrame:

## Question 10: Unroll Distance Matrix

In [16]:
def unroll_distance_matrix(distance_matrix):
    unrolled_data = []

    # Get the list of locations from the distance matrix
    locations = distance_matrix.index

    # Iterate through the distance matrix
    for i in locations:
        for j in locations:
                distance = distance_matrix.loc[i, j]
                if not pd.isna(distance):
                    unrolled_data.append({'id_start': i, 'id_end': j, 'distance': distance})

    unrolled_df = pd.DataFrame(unrolled_data)

    return unrolled_df

In [19]:
unrolled_df = unroll_distance_matrix(distance_matrix)
print("Unrolled Distance DataFrame:")
print(unrolled_df)

Unrolled Distance DataFrame:
      id_start   id_end  distance
0      1001472  1001488     179.8
1      1001472  1004354     173.8
2      1001472  1004355     171.8
3      1001472  1004356     175.8
4      1001472  1001400     444.3
...        ...      ...       ...
1801   1001470  1001461      61.6
1802   1001470  1001462      56.5
1803   1001470  1001464      29.8
1804   1001470  1001466      21.3
1805   1001470  1001468      10.6

[1806 rows x 3 columns]

## Question 11: Finding IDs within Percentage Threshold

In [25]:
import pandas as pd
import numpy as np

def find_ids_within_ten_percentage_threshold(df, reference_id):
    # Calculate the average distance for the given reference_id
    average_distance = df[df['id_start'] == reference_id]['distance'].mean()
    
    # Check if average_distance is NaN (i.e., reference_id not found)
    if pd.isna(average_distance):
        return []

    # Calculate the 10% threshold values
    lower_bound = average_distance * 0.9
    upper_bound = average_distance * 1.1

    # Filter the DataFrame for id_start values within the threshold
    filtered_ids = df[(df['distance'] >= lower_bound) & (df['distance'] <= upper_bound)]
    result_ids = filtered_ids['id_start'].unique()
    result_ids_sorted = sorted(result_ids)

    return result_ids_sorted

In [28]:
reference_id = 1001472 
ids_within_threshold = find_ids_within_ten_percentage_threshold(unrolled_df, reference_id)
print("IDs within 10% of average distance for reference ID {}: {}".format(reference_id, ids_within_threshold))

IDs within 10% of average distance for reference ID 1001472: [1001400, 1001402, 1001404, 1001406, 1001408, 1001410, 1001412, 1001414, 1001416, 1001418, 1001420, 1001422, 1001424, 1001426, 1001428, 1001430, 1001432, 1001434, 1001436, 1001437, 1001438, 1001440, 1001442, 1001444, 1001446, 1001448, 1001450, 1001452, 1001454, 1001456, 1001458, 1001460, 1001461, 1001462, 1001464, 1001466, 1001468, 1001470, 1001472, 1001488, 1004354, 1004355, 1004356]

## Question 12: Calculate Toll Rate

In [41]:
import pandas as pd

def calculate_toll_rate(df):
    rate_coefficients = {
        'moto': 0.8,
        'car': 1.2,
        'rv': 1.5,
        'bus': 2.2,
        'truck': 3.6
    }

    for vehicle, coefficient in rate_coefficients.items():
        df[vehicle] = df['distance'] * coefficient

    return df

dj = pd.read_csv('dataset-2.csv')
# Calculate toll rates
toll_rates_df = pd.DataFrame(calculate_toll_rate(dj))

print("                DataFrame with Toll Rates:")
print(toll_rates_df)

                DataFrame with Toll Rates:
    id_start   id_end  distance   moto    car     rv    bus  truck
0    1001400  1001402       9.7   7.76  11.64  14.55  21.34  34.92
1    1001402  1001404      20.2  16.16  24.24  30.30  44.44  72.72
2    1001404  1001406      16.0  12.80  19.20  24.00  35.20  57.60
3    1001406  1001408      21.7  17.36  26.04  32.55  47.74  78.12
4    1001408  1001410      11.1   8.88  13.32  16.65  24.42  39.96
5    1001410  1001412      15.6  12.48  18.72  23.40  34.32  56.16
6    1001412  1001414      18.2  14.56  21.84  27.30  40.04  65.52
7    1001414  1001416      13.2  10.56  15.84  19.80  29.04  47.52
8    1001416  1001418      13.6  10.88  16.32  20.40  29.92  48.96
9    1001418  1001420      12.9  10.32  15.48  19.35  28.38  46.44
10   1001420  1001422       9.6   7.68  11.52  14.40  21.12  34.56
11   1001422  1001424      11.4   9.12  13.68  17.10  25.08  41.04
12   1001424  1001426      18.6  14.88  22.32  27.90  40.92  66.96
13   1001426  1001428      15.8  12.64  18.96  23.70  34.76  56.88
14   1001428  1001430       8.6   6.88  10.32  12.90  18.92  30.96
15   1001430  1001432       9.0   7.20  10.80  13.50  19.80  32.40
16   1001432  1001434       7.9   6.32   9.48  11.85  17.38  28.44
17   1001434  1001436       4.0   3.20   4.80   6.00   8.80  14.40
18   1001436  1001438       9.0   7.20  10.80  13.50  19.80  32.40
19   1001436  1001437       5.0   4.00   6.00   7.50  11.00  18.00
20   1001438  1001437       4.0   3.20   4.80   6.00   8.80  14.40
21   1001438  1001440      10.0   8.00  12.00  15.00  22.00  36.00
22   1001440  1001442       3.9   3.12   4.68   5.85   8.58  14.04
23   1001442  1001488       4.5   3.60   5.40   6.75   9.90  16.20
24   1001488  1004356       4.0   3.20   4.80   6.00   8.80  14.40
25   1004356  1004354       2.0   1.60   2.40   3.00   4.40   7.20
26   1004354  1004355       2.0   1.60   2.40   3.00   4.40   7.20
27   1004355  1001444       0.7   0.56   0.84   1.05   1.54   2.52
28   1001444  1001446       6.6   5.28   7.92   9.90  14.52  23.76
29   1001446  1001448       9.6   7.68  11.52  14.40  21.12  34.56
30   1001448  1001450      15.7  12.56  18.84  23.55  34.54  56.52
31   1001450  1001452       9.9   7.92  11.88  14.85  21.78  35.64
32   1001452  1001454      11.3   9.04  13.56  16.95  24.86  40.68
33   1001454  1001456      13.6  10.88  16.32  20.40  29.92  48.96
34   1001456  1001458       8.9   7.12  10.68  13.35  19.58  32.04
35   1001458  1001460       5.1   4.08   6.12   7.65  11.22  18.36
36   1001460  1001461      12.8  10.24  15.36  19.20  28.16  46.08
37   1001460  1001462      17.9  14.32  21.48  26.85  39.38  64.44
38   1001461  1001462       5.1   4.08   6.12   7.65  11.22  18.36
39   1001462  1001464      26.7  21.36  32.04  40.05  58.74  96.12
40   1001464  1001466       8.5   6.80  10.20  12.75  18.70  30.60
41   1001466  1001468      10.7   8.56  12.84  16.05  23.54  38.52
42   1001468  1001470      10.6   8.48  12.72  15.90  23.32  38.16
43   1001470  1001472      16.0  12.80  19.20  24.00  35.20  57.60

## Question 13: Calculate Time-Based Toll Rates

In [59]:
a=pd.read_csv("toll_rates.csv")
a

   id_start  id_end  distance  moto   car    rv   bus  truck
0         1       2        10   8.0  12.0  15.0  22.0   36.0
1         2       3        20  16.0  24.0  30.0  44.0   72.0
2         3       1        30  24.0  36.0  45.0  66.0  108.0

In [63]:
import pandas as pd
from datetime import time

def calculate_time_based_toll_rates(df):
    discount_factors = {
        'weekday': {
            (time(0, 0), time(10, 0)): 0.8,   
            (time(10, 0), time(18, 0)): 1.2,  
            (time(18, 0), time(23, 59, 59)): 0.8,
        },
        'weekend': 0.7      
    }
    days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    new_rows = []

    # Iterate over each unique (id_start, id_end) pair
    for (id_start, id_end), group in df.groupby(['id_start', 'id_end']):
        distance = group['distance'].values[0] 
        
        # For each day of the week
        for day in days_of_week:
            if day in ['Saturday', 'Sunday']:
                factor = discount_factors['weekend']
                new_row = {
                    'id_start': id_start,
                    'id_end': id_end,
                    'start_day': day,
                    'start_time': time(0, 0),  # 12:00 AM
                    'end_day': day,
                    'end_time': time(23, 59, 59),  # 11:59:59 PM
                    'moto': distance * factor,
                    'car': distance * factor,
                    'rv': distance * factor,
                    'bus': distance * factor,
                    'truck': distance * factor,
                }
                new_rows.append(new_row)
            else:
                for time_range, factor in discount_factors['weekday'].items():
                    start_time, end_time = time_range
                    new_row = {
                        'id_start': id_start,
                        'id_end': id_end,
                        'start_day': day,
                        'start_time': start_time,
                        'end_day': day,
                        'end_time': end_time,
                        'moto': distance * factor,
                        'car': distance * factor,
                        'rv': distance * factor,
                        'bus': distance * factor,
                        'truck': distance * factor,
                    }
                    new_rows.append(new_row)

    new_df = pd.DataFrame(new_rows)
    return new_df

# Example usage
if __name__ == "__main__":
    example_data = {
        'id_start': [1, 1, 2],
        'id_end': [2, 3, 1],
        'distance': [10, 20, 30]  
    }
    toll_rates_df = pd.DataFrame(example_data)

    calculated_df1 = calculate_time_based_toll_rates(toll_rates_df)
    print("DataFrame with Time-Based Toll Rates:")
    print(calculated_df1)

DataFrame with Time-Based Toll Rates:
    id_start  id_end  start_day start_time    end_day  end_time  moto   car  \
0          1       2     Monday   00:00:00     Monday  10:00:00   8.0   8.0
1          1       2     Monday   10:00:00     Monday  18:00:00  12.0  12.0
2          1       2     Monday   18:00:00     Monday  23:59:59   8.0   8.0
3          1       2    Tuesday   00:00:00    Tuesday  10:00:00   8.0   8.0
4          1       2    Tuesday   10:00:00    Tuesday  18:00:00  12.0  12.0
5          1       2    Tuesday   18:00:00    Tuesday  23:59:59   8.0   8.0
6          1       2  Wednesday   00:00:00  Wednesday  10:00:00   8.0   8.0
7          1       2  Wednesday   10:00:00  Wednesday  18:00:00  12.0  12.0
8          1       2  Wednesday   18:00:00  Wednesday  23:59:59   8.0   8.0
9          1       2   Thursday   00:00:00   Thursday  10:00:00   8.0   8.0
10         1       2   Thursday   10:00:00   Thursday  18:00:00  12.0  12.0
11         1       2   Thursday   18:00:00   Thursday  23:59:59   8.0   8.0
12         1       2     Friday   00:00:00     Friday  10:00:00   8.0   8.0
13         1       2     Friday   10:00:00     Friday  18:00:00  12.0  12.0
14         1       2     Friday   18:00:00     Friday  23:59:59   8.0   8.0
15         1       2   Saturday   00:00:00   Saturday  23:59:59   7.0   7.0
16         1       2     Sunday   00:00:00     Sunday  23:59:59   7.0   7.0
17         1       3     Monday   00:00:00     Monday  10:00:00  16.0  16.0
18         1       3     Monday   10:00:00     Monday  18:00:00  24.0  24.0
19         1       3     Monday   18:00:00     Monday  23:59:59  16.0  16.0
20         1       3    Tuesday   00:00:00    Tuesday  10:00:00  16.0  16.0
21         1       3    Tuesday   10:00:00    Tuesday  18:00:00  24.0  24.0
22         1       3    Tuesday   18:00:00    Tuesday  23:59:59  16.0  16.0
23         1       3  Wednesday   00:00:00  Wednesday  10:00:00  16.0  16.0
24         1       3  Wednesday   10:00:00  Wednesday  18:00:00  24.0  24.0
25         1       3  Wednesday   18:00:00  Wednesday  23:59:59  16.0  16.0
26         1       3   Thursday   00:00:00   Thursday  10:00:00  16.0  16.0
27         1       3   Thursday   10:00:00   Thursday  18:00:00  24.0  24.0
28         1       3   Thursday   18:00:00   Thursday  23:59:59  16.0  16.0
29         1       3     Friday   00:00:00     Friday  10:00:00  16.0  16.0
30         1       3     Friday   10:00:00     Friday  18:00:00  24.0  24.0
31         1       3     Friday   18:00:00     Friday  23:59:59  16.0  16.0
32         1       3   Saturday   00:00:00   Saturday  23:59:59  14.0  14.0
33         1       3     Sunday   00:00:00     Sunday  23:59:59  14.0  14.0
34         2       1     Monday   00:00:00     Monday  10:00:00  24.0  24.0
35         2       1     Monday   10:00:00     Monday  18:00:00  36.0  36.0
36         2       1     Monday   18:00:00     Monday  23:59:59  24.0  24.0
37         2       1    Tuesday   00:00:00    Tuesday  10:00:00  24.0  24.0
38         2       1    Tuesday   10:00:00    Tuesday  18:00:00  36.0  36.0
39         2       1    Tuesday   18:00:00    Tuesday  23:59:59  24.0  24.0
40         2       1  Wednesday   00:00:00  Wednesday  10:00:00  24.0  24.0
41         2       1  Wednesday   10:00:00  Wednesday  18:00:00  36.0  36.0
42         2       1  Wednesday   18:00:00  Wednesday  23:59:59  24.0  24.0
43         2       1   Thursday   00:00:00   Thursday  10:00:00  24.0  24.0
44         2       1   Thursday   10:00:00   Thursday  18:00:00  36.0  36.0
45         2       1   Thursday   18:00:00   Thursday  23:59:59  24.0  24.0
46         2       1     Friday   00:00:00     Friday  10:00:00  24.0  24.0
47         2       1     Friday   10:00:00     Friday  18:00:00  36.0  36.0
48         2       1     Friday   18:00:00     Friday  23:59:59  24.0  24.0
49         2       1   Saturday   00:00:00   Saturday  23:59:59  21.0  21.0
50         2       1     Sunday   00:00:00     Sunday  23:59:59  21.0  21.0

      rv   bus  truck
0    8.0   8.0    8.0
1   12.0  12.0   12.0
2    8.0   8.0    8.0
3    8.0   8.0    8.0
4   12.0  12.0   12.0
5    8.0   8.0    8.0
6    8.0   8.0    8.0
7   12.0  12.0   12.0
8    8.0   8.0    8.0
9    8.0   8.0    8.0
10  12.0  12.0   12.0
11   8.0   8.0    8.0
12   8.0   8.0    8.0
13  12.0  12.0   12.0
14   8.0   8.0    8.0
15   7.0   7.0    7.0
16   7.0   7.0    7.0
17  16.0  16.0   16.0
18  24.0  24.0   24.0
19  16.0  16.0   16.0
20  16.0  16.0   16.0
21  24.0  24.0   24.0
22  16.0  16.0   16.0
23  16.0  16.0   16.0
24  24.0  24.0   24.0
25  16.0  16.0   16.0
26  16.0  16.0   16.0
27  24.0  24.0   24.0
28  16.0  16.0   16.0
29  16.0  16.0   16.0
30  24.0  24.0   24.0
31  16.0  16.0   16.0
32  14.0  14.0   14.0
33  14.0  14.0   14.0
34  24.0  24.0   24.0
35  36.0  36.0   36.0
36  24.0  24.0   24.0
37  24.0  24.0   24.0
38  36.0  36.0   36.0
39  24.0  24.0   24.0
40  24.0  24.0   24.0
41  36.0  36.0   36.0
42  24.0  24.0   24.0
43  24.0  24.0   24.0
44  36.0  36.0   36.0
45  24.0  24.0   24.0
46  24.0  24.0   24.0
47  36.0  36.0   36.0
48  24.0  24.0   24.0
49  21.0  21.0   21.0
50  21.0  21.0   21.0